In [15]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

Create dataframe with lat, lon

In [16]:
df_lat_lon = pd.read_csv(r'config/Geospatial_Coordinates.csv')
df_lat_lon.rename(columns={'Postal Code': 'Postcode'}, inplace=True)
df_lat_lon.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

Merge two data frame

In [17]:
df_toronto = pd.read_csv(r'data/toronto.csv')
df = pd.merge(df_toronto, df_lat_lon, on='Postcode')
df.drop(['Unnamed: 0'], axis = 1, inplace=True)
df.to_csv(r'data/toronto.csv')
df.head()

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Harbourfront,Regent Park",43.654260,-79.360636
3,M6A,North York,"Lawrence Heights,Lawrence Manor",43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,43.662301,-79.389494